.center {
    margin:auto;
}

.fish {
    height:500px;
    width:500px;
}

.fish {
    box-sizing: border-box;
}

.fish *:hover {
    background:pink !important;
    border:1px solid black;
}

.fish > div {
    width:100%;
    height:50%;
    background:black;
    border-radius:50%;
    position:relative;
}

.fish .flipper {
    height: 10%;
    width: 5%;
    position:absolute;
    z-index:1;
}

.fish .flipper > div {
    background:white;
    width: 165%;
    height: 200%;
    position:absolute;
    top: 6%;
    left: -58%;
    border-radius: 0 32% 75% 0;
}

.fish .flipper div > div {
    background:black;
    position:absolute;
    width: 115%;
    height: 110%;
    top: -2%;
    left: -28%;
    border-radius: 0 50% 75%;
}

.fish .flipper div + div {
    height:100%;
    width:100%;
    background:white;
    position:absolute;
    top:0;
    left:0;
    border-radius:50%;
}

.fish .flipper.one {
    left:25%;
    top:50%;
}

.fish .flipper.two {
    left: 65%;
    top: 70%;
}

.fish .fluke {
    position:absolute;
    right:15%;
    top:25%;
    height:24%;
    width:12%;
    border-radius:50%;
    background:white;
}

.fish .fluke > div {
    background:black;
    position:absolute;
    height: 90%;
    width: 100%;
    left: 14%;
    top: -2%;
    border-radius: 50%;
}

.fish .body {
    height:50%;
    background:white;
    width:50%;
    position:absolute;
    top:25%;
    left:12%;
    border-radius:50%;
    z-index:0;
}

.fish .body > .nose {
    height:90%;
    width:55%;
    background:black;
    border-radius:50% 50% 0 0;
    position:absolute;
    top:18%;
    left:0%;
}

.fish .body .nose + div {
    background:black;
    height:50%;
    width:50%;
    position:absolute;
    top:50%;
    left: 54%;
}

.fish .body .nose + div > div {
    width: 47%;
    height: 100%;
    position:absolute;
    background:white;
    top: -50%;
    left: -3%;
    border-radius: 0% 0 20% 80%;
}

.fish .body .nose + div > div + div {
    left:auto;
    right: 38%;
    border-radius: 0 0 100% 0;
    width: 30%;
    border:none;
    height: 55%;
    top: -5%;
}

.fish .body .nose + div > div + div + div {
    border-radius:0;
    left: 50%;
    width: 50%;
}



.fish .body .tail {
    background:white;
    width:25%;
    height: 35%;
    position:absolute;
    left: 95%;
    top: 28%;
}

.fish .body .tail div {
    background: black;
    position:absolute;
    width: 100%;
    height: 185%;
    top: -145%;
    left: -17%;
    border-radius: 0 0 35% 65%;
    
}

.fish .body .tail div + div {
    top: 68%;
    border-radius: 50% 50% 0 0;
    height: 60%;
    left: -15%;
    width: 114%;
}

